@Feature12: Feature12;

.@{Feature12} {
	&-wrapper {
		// min-height: 70vh;
		margin: 0 auto;
		overflow: hidden;
		margin-top: -200px;
		background: transparent;

		&.home-page-wrapper {
			.home-page {
				padding-top: 50px;
				padding-bottom: 183px;
			}
		}
	}

	position: relative;

	&-video-title {
		margin: 0 auto;
		background: #242424;
		color: #fff;

		.left {
			padding: 26px 20px 20px 20px;
		}

		.left-title {
			font-size: 30px;
			font-weight: 500;
			color: #ffffff;
			line-height: 42px;
		}

		.left-title-sub {
			width: 80px;
			font-size: 20px;
			font-weight: 500;
			color: #ffffff;
			line-height: 28px;
		}

		.bj {
			margin-top: 14px;
		}

		.dg {
			margin-top: 36px;
		}

		.left-desc {
			font-size: 14px;
			font-weight: 400;
			color: #ffffff;
			line-height: 24px;
		}
	}

	.title-h1 {
		margin-top: 80px;
		height: 50px;
		font-size: 36px;
		font-weight: 500;
		color: #000000;
		line-height: 50px;
		text-align: center;
	}

	&-title {
		display: inline-block;

		&-wrapper {
			text-align: center;
		}

		&-text {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			// width: 200px;
			height: 48px;
			// background: #FFFFFF;
			// border-left: 1px solid #EBEBEB;
			// margin-top: 5px;
			margin-bottom: 36px;

			&:first-child {
				border-left: none;
			}

			font-size: 18px;
			color: #000000;
			text-align: center;
			cursor: pointer;

			.sub-title {
				height: 28px;
				font-size: 20px;
				font-weight: 400;
				line-height: 28px;
				// width: 200px;
			}
		}
	}

	&-text {
		.item {
			background: #f6f7f8;
			margin-right: 24px;
			width: 384px;
			padding: 20px 20px 30px 20px;
			margin-bottom: 30px;
			position: relative;

			.item-wrap {
				display: flex;
				justify-content: space-between;
			}

			.iconfont {
				font-size: 40px;
				// position: absolute;
				// right: 20px;
				// top: 15px;
			}

			.title {
				height: 30px;
				font-size: 22px;
				font-weight: 500;
				color: #000000;
				line-height: 30px;
			}

			.sub-title {
				height: 20px;
				font-size: 14px;
				font-weight: 400;
				color: #595959;
				line-height: 20px;
			}

			button {
				background: #5a00ff;
				border: none;
				margin-top: 20px;
				width: 344px;
				&:hover {
					border: none;
					background: #5a00ff;
				}
			}

			.desc {
				font-size: 14px;
				font-weight: 400;
				color: #737373;
				line-height: 24px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.@{Feature12}-wrapper {
		padding-bottom: 0;
		min-height: 580px;

		&.home-page-wrapper {
			.home-page {
				padding: 56px 24px 64px;
			}
		}
	}

	.@{Feature12}-text {
		.item {
			.img {
				margin-right: 40px;
			}
		}
	}

	.@{Feature12}-t1 {
		font-size: 30px;
	}

	.@{Feature12} button {
		width: 300px !important;
	}

	.@{Feature12}-number-wrapper {
		margin-bottom: 16px;
	}
}
