@feature8: feature8;

.@{feature8} {
  padding-bottom: 130px !important;
  position: relative;
  overflow: hidden;

  &-zhan {
    height: 720px;
    background-color: #191a25 !important;
  }
  .kun {
    margin-top: -720px;
  }

  .title-h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 22px;
  }

  &-title {
    display: inline-block;
    &-wrapper {
      text-align: center;
      margin-top: -720px;
      .title-h1 {
        color: #fff;
        padding-top: 35px;
      }
    }

    &-text {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 48px;
      background: #ffffff;
      border-left: 1px solid #ebebeb;
      margin-top: 5px;
      margin-bottom: 60px;

      &:first-child {
        border-left: none;
      }

      font-size: 18px;
      color: #000000;
      text-align: center;
      cursor: pointer;

      &.active {
        background: #5a00ff;
        color: #fff;
      }
    }
  }

  &-text {
    .item {
      background: #f6f7f8;
      margin-right: 24px;
      width: 384px;
      padding: 20px 20px 30px 20px;
      margin-bottom: 30px;
      position: relative;

      .item-wrap {
        display: flex;
        justify-content: space-between;
      }

      .iconfont {
        font-size: 40px;
      }

      .title {
        height: 30px;
        font-size: 22px;
        font-weight: 500;
        color: #000000;
        line-height: 30px;
      }

      .sub-title {
        height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #595959;
        line-height: 20px;
      }

      button {
        background: #5a00ff;
        border: none;
        margin-top: 20px;
        width: 344px;
        &:hover {
          border: none;
          background: #5a00ff;
        }
      }

      .desc {
        font-size: 14px;
        font-weight: 400;
        color: #737373;
        line-height: 24px;
      }
    }

    text-align: center;

    .desc {
      margin: 0 auto;
      width: 620px;
      height: 108px;
      font-size: 18px;
      color: #000000;
      line-height: 36px;
      text-align: center;
      margin-top: 55px;
    }

    .btn1,
    .btn2 {
      width: 240px;
      height: 60px;
      background: #5a00ff;
      border: none;
      font-size: 18px;
      font-family:
        PingFangSC,
        PingFang SC;
      font-weight: 500;
      color: #fff;
      margin-top: 36px;
      margin-bottom: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .btn1:hover {
      border: none;
      color: #fff;
      background: #263036;
    }
    .btn1 {
      background: #263036;
    }

    .btn2:hover {
      border: none;
      color: #fff;
      background: #5a00ff;
    }
  }
}

@media screen and (max-width: 767px) {
  .@{feature8}-title {
    &-text {
      width: 110px;
    }
  }

  .@{feature8}-item {
    background: #191a25;
    padding-bottom: 50px;
  }

  .@{feature8}-text {
    .btn1,
    .btn2 {
      width: 150px;
      margin-top: 120px;
      margin-bottom: 0px;
    }
    .desc {
      margin: 0 auto;
      width: 70vw;
      font-size: 18px;
      color: #fff;
      line-height: 36px;
      text-align: center;
    }
  }
}
